/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

body {
  width: 100%;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto';
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* Grid */

.row {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.certificates-box {
  min-height: 100vh;
  padding: 35px;
  background-color: #352c79;
}

.continer {
  width: 1200px;
  margin: 0 auto;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: auto;
}

.col-2 {
  width: 50%;
  flex: 1 0 auto;
}

.col-4 {
  width: 25%;
  flex: 1 0 auto;
}

.text-centr {
  text-align: center;
}

.width100 {
  width: 100%;
}

.section-title {
  margin-top: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}

.df-al-centr {
  display: flex;
  align-items: center;
}

.df-ju-centr {
  display: flex;
  justify-content: center;
}

.df-al-ju-centr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.btn {
  width: 255px;
  height: 65px;
  background-color: #34547A;
  color: #fff;
  font-size: 16px;
}

.lineHeightP {
  line-height: 26.25px;
  color: #727272;
}

.grey-color {
  background-color: #EEEFF1;
}

/* Mian */

/*header*/

.header {
  padding: 57px 0;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.navigation li {
  display: inline-block;
  justify-content: flex-end;
  margin-right: 15px;
}

.navigation li+li {
  margin-left: 42px;
}

.navigation li a {
  display: block;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

/**/

.first-screen {
  padding-bottom: 146px;
}

.first-screen__box-content {
  max-width: 540px;
  margin-left: 31px;
}

.gen-title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

.first-screen__box-content p, .first-screen__box-content form {
  margin-top: 60px;
}

.first-screen__box-img img {
  max-width: 357px;
  max-height: 233px;
  margin-top: 30px;
}

/**/

.about-my {
  width: 540px;
  margin-top: 120px;
  margin: 120px auto 0 auto;
}

.about-my h3 {
  margin-top: 0;
}

.about-my p {
  margin-top: 50px;
  text-align: center;
}

/**/

.achievements {
  margin-bottom: 500px;
  margin-top: 100px;
  background-color: #34547A;
}